body
{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: url('../images/cork.png');
	line-height: 20px;
	display: block;
	padding-top: 70px;
}

.navbar-brand
{
	font-size: 30px;
}

.face
{
	float:left;
	width:30%;
	min-width: 180px;
	margin-right:20px;
	margin-bottom:20px;
}

.social
{
	width:100%;
}

.footer
{
	border-top:1px solid black;
	width:100%;
	height:60px;
	position:sticky;
	bottom:0px;
	background-color: #f5f5f5;
}

#footer
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.contenttitle
{
	font-size: 30px;
}

.img-center
{
	margin:0 auto;
	width:80%;
	height:200px;
}

.portpicdiv
{
	position: relative;
	text-align: center;
}

.picdeets
{
	position: absolute;
	color:white;
	background-color: #337ab7;
	width:80%;
	bottom:10%;
	padding:10px;
	font-size: 20px;
	transform: translateX(12.5%);
}

.top-buffer
{
	margin-top: 20px;
}