body
{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background: url('../images/cork.png');
	line-height: 20px;
	display: block;
	padding-top: 70px;
}

.face
{
	float:left;
	width:30%;
	min-width: 180px;
	margin-right:20px;
	margin-bottom:20px;
}

.social
{
	width:20%;
}

.linkedin
{
	margin-right: 10%;
	margin-left: 10%
}

.footer
{
	border-top:1px solid black;
	width:100%;
	height:60px;
	position:sticky;
	bottom:0px;
	background-color: #f5f5f5;
}

#footer
{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}